h1, h2, h3, ul, p {
  font-family: Arial;
  color: rgb(255,255,255)
}

body{
  background-color: rgb(0,153,255)
}


.div:after{
  width: 100%;
  content:"";
  display: table;
  clear: both;
}
.div1{
  float: left;
 
  width: 30%;
}


.div2{
  float: left;
  width: 40%;
}

.div3{
  float: left;
  width: 30%
}